<!DOCTYPE html>
<html lang="en">

<head>
    <title>ADMIN</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/design.css">
</head>

<body>
    <h1>WELCOME TO KS AYURVED SOLUTION</h1>
    <center>
        <a href="/details"><button
                style="border:0.2rem;width: 14.5rem; border-radius: 0.2rem;  height: 2rem; margin-top: 1rem;">DETAILS</button></a>

        <br>
        <br>

        <a href="/adding"><button
                style="border:0.2rem;width: 14.5rem; border-radius: 0.2rem;  height: 2rem; margin-top: 1rem;">ADD
                DETAILS</button></a>

    <h2><a href="/logout" ><button style="border:0.2rem;width: 14.5rem; border-radius: 0.2rem;  height: 2rem; margin-top: 1rem;color: rgb(255, 255, 255); background-color:rgb(255, 165, 55);">LOGOUT</button></a></h2>
    
                

    </center>
</body>

</html>