<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>details</title>
    
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/design.css">
</head>

<body>
    <h1>DETAILS</h1>
    <center>
    <h2><a href="/logout" ><button style="border:0.2rem;width: 14.5rem; border-radius: 0.2rem;  height: 2rem; margin-top: 1rem;">LOGOUT</button> </a></h2>
</center>
</body>
<table border="1px" style=" background-color: rgb(240, 236, 231);">
    <thead>
        <td>id</td>
        <td>category</td>
        <td>problem</td>
        <td>details</td>
        <td>image</td>
        <td>youtube_link</td>
    </thead>
    {%for i in elist%}
    <tr>
        <td>{{i[0]}}</td>
        <td>{{i[1]}}</td>
        <td>{{i[2]}}</td>
        <td>{{i[3]}}</td>
        <td>{{i[4]}}</td>
        <td>{{i[5]}}</td>
        <td><a href="/edit?id={{i[0]}}">edit</a></td>
        <td><a href="/delete?id={{i[0]}}">delete</a></td>

        
    </tr>
    {% endfor %}
    
    
</table>
<!-- <h1><a href="/logout" ><button style="border:0.2rem;width: 14.5rem; border-radius: 0.2rem;  height: 2rem; margin-top: 1rem;">LOGOUT</button> </a></h1>  -->

</html>