<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>HOME</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> 
    <link rel="stylesheet" href="/static/design.css"  >
</head>
<body >
    <h1>WELCOME TO KS AYURVED SOLUTION</h1>
    <center>
    <a href="/user"><button style="border:0.2rem;width: 14.5rem; border-radius: 0.2rem;  height: 2rem; margin-top: 1rem;">USER</button></a>
    <br>
    <br>
    <a href="/login"><button  style="border:0.2rem;width: 14.5rem; border-radius: 0.2rem;  height: 2rem; margin-top: 1rem;"> LOGIN</button></a>
    </center>

    
</body>

</html>