<!DOCTYPE html>
<html lang="en">

<head>

    <title>login page</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/design.css">


</head>

<body>
    <h1>WELCOME TO LOGIN</h1>


    <center>
        <div>
            <form action="/mainlogin" method="get">
                <input type="text" name="username"
                    style="width: 14rem; border-radius: 0.2rem; height: 1.7rem; margin-top: 2rem; margin-bottom: 1rem;"
                    placeholder="Name" required><br>
                <input type="password" name="password"
                    style="width: 14rem; height: 1.7rem; border-radius: 0.2rem; margin-bottom: 1rem"
                    placeholder="Password" required><br>
                <input type="submit" value="Login"
                    style="border: none; width: 14.5rem; border-radius: 0.2rem;  height: 2rem; margin-top: 1rem; color: rgb(255, 255, 255); background-color:rgb(255, 165, 55);">

            </form>
        </div>
    </center>
</body>

</html>